APP_ENV=local
APP_DEBUG=true

NASA_API_KEY=DEMO_KEY
NASA_NEOWS_BASE_URL=https://api.nasa.gov/neo/rest/v1

CACHE_BACKEND=disk
CACHE_TTL_SECONDS=21600

REDIS_URL=redis://localhost:6379/0

CORS_ALLOWED_ORIGINS='["http://localhost:3000"]'